@media (max-width: 1024px) {
  .header__logo--link img {
    height: 29px;
  }

  .header__logo--link {
    width: 85px;
  }

  .navigation {
    height: 60px;
  }

  .header__nav--list .header__nav--list--item {
    display: none;
  }

  .burger-bar {
    display: block;
  }

  .burger-bar.active {
    background-color: #202225;
  }

  .mobile-menu.show {
    display: block;
  }

  main {
    margin-top: 60px;
  }
  /* testimonials */
  .testimonials__card {
    flex: 1 0 29.5%;
    min-width: 270px;
  }

  .arrow__wrapper {
    display: none;
  }

  .testimonials .slider-container {
    overflow: visible;
  }

  /* hero */

  .slider__text > h1 {
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
  }

  .slider__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  .slider__text span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }
}

@media (max-width: 700px) {
  /* videos and library */
  .library-video__container {
    flex-direction: column;
    margin-top: 30px;
  }

  .library {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  /* testimonials */
  section .title,
  .gradient-text {
    font-size: 26px;
    line-height: 31.2px;
  }

  .testimonials__heading--desc span {
    font-size: 14px;
    line-height: 24px;
  }

  /* hero */
  .slider__slide {
    max-width: 376px;
    width: 100%;
    height: 504px;
    align-items: center;
    justify-content: center;
  }
  .slider__text {
    text-align: center;
    width: 100%;
    top: 40px;
  }
  .slider__text button {
    margin: 0 auto;
    margin-top: 12px;
  }
  .slider__slide img:first-of-type {
    display: none;
  }
  .slider__slide .mobile {
    display: block;
  }
  .arrow-btn {
    display: none;
  }
}
