@media (max-width: 1270px) {

  /* courses */
  #prev,
  #next {
    display: none;
  }

  .cource__tittle,
  .cource__slider--text span {
    margin: 0 5px;
  }

}


@media (max-width: 1024px) {

  /* header start */
  .header__logo--link img {
    height: 29px;
  }

  .header__logo--link {
    width: 85px;
  }

  .navigation {
    height: 60px;
  }

  .header__nav--list .header__nav--list--item {
    display: none;
  }

  .burger-bar {
    display: block;
  }

  .burger-bar.active {
    background-color: #202225;
  }

  .mobile-menu.show {
    display: block;
  }

  /* header end */


  main {
    margin-top: 60px;
  }

  /* hero */

  .slider__text>h1 {
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
  }

  .slider__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  .slider__text span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  /* about */
  .about__header--title,
  .about__header--desc {
    max-width: 100%;
  }


}

@media (max-width: 786px) {
  section .title {
    font-size: 26px;
    line-height: 31px;
  }

  /* about */
  .about__cards--wrapper {
    flex-direction: column;
  }

  .about__header--desc {
    font-size: 14px;
  }

}

@media (max-width: 700px) {

  /* courses */
  .cource__tittle {
    font-size: 26px;
    line-height: 31px;
  }

  .cource__slider--text span {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 600px) {

  /* hero */
  .slider__slide {
    max-width: 376px;
    width: 100%;
    height: 504px;
    align-items: center;
    justify-content: center;
  }

  .slider__text {
    text-align: center;
    width: 100%;
    top: 40px;
  }

  .slider__text button {
    margin: 0 auto;
    margin-top: 12px;
  }

  .slider__slide img:first-of-type {
    display: none;
  }

  .slider__slide .mobile {
    display: block;
  }

  .arrow-btn {
    display: none;
  }


}

@media (max-width: 425px) {}