:root {
    --primary-color: #8447FF;
    --secondary-color: #D972FF;
    --accent-color: #F9A620;
    --additional-color: #21B792;
    --text-color: #150509;
    --background-color-1: #FFFFFF;
    /* ზოგი სექციის ბექგრაუნდი */
    --background-color-2: #F9F6FF;
    /* ბოქსების ფერი */
    --box-color: #8447FF;
    /* ბოქსებზე ჰოვერისას */
    --box-hover-color: #6323E4;
    /* აიქონზე ჰოვერისას */
    --icon-hover-color: #DAC8FF;
    /* ფოტოების ფერები */
    --photo-frame-color: #FFC619;
    /* გრადიენტის ერთი ფერი */
    --gradient-color-1: #3442D9;
    /* გრადიენტის მეორე ფერი */
    --gradient-color-2: #B947FF;

    --font-family-figaro: 'Arial, sans-serif';
    --font-family-Gilroy: 'Arial, sans-serif';
    /* ფონტები შესაცვლელია */
}



/* main reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Often repeated styles */
body {
    font-family: var(--font-family-figaro);
    color: var(--text-color);
}

.container {
    max-width: 1152px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.btn {
    border-radius: 8px;
    background-color: var(--box-color);
    font-family: var(--font-family-figaro);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: var(--background-color-1);
}

.btn:hover {
    background: #6323E4;
}


section .title {
    font-family: var(--font-family-figaro);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: var(--text-color);
}

.gradient-text {
    background: linear-gradient(90deg, var(--gradient-color-2), var(--gradient-color-1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* slider arrows */

.arrow-btn {
    display: inline-block;
    background-size: cover;
    width: 46px;
    height: 46px;
    border: 1px solid var(--box-color);
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}

.arrow-btn svg,
.nav-icons svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-btn svg {
    stroke: var(--box-color);
}

.arrow-btn:hover {
    background-color: #8447FF4D;
}

.arrow-btn:active {
    background-color: var(--box-color);
}

.arrow-btn:active svg {
    stroke: var(--background-color-1);
}

.prew-btn {
    transform: rotate(180deg);
}

/* headers icons */

.nav-icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    position: relative;
}

.nav-icons svg {
    stroke: black;
}

.nav-icons:hover {
    background-color: var(--background-color-2);
}

.nav-icons:hover svg {
    stroke: var(--primary-color);
}



/* section about */
.about {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--background-color-1);

}

.about__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 47px;
}

.about__header--title {
    max-width: 260px;
    width: 100%;
}

.about__header--desc {
    max-width: 658px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about__cards--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    row-gap: 16px;
}

.about__card {
    max-width: 368px;
    width: 100%;
    height: 360px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.about__card--img {
    margin: 16px 18px auto 8px;
}

.about__card--content {
    height: 154px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}

.about__card--title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--primary-color);
    display: flex;
    align-items: flex-start;

}

.about__card--title::before {
    content: url('../images/icons/triangle.svg');
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 9px;
}

.about__card--desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 26px;
    margin-bottom: 30px;
}