:root {
  --primary-color: #8447ff;
  --secondary-color: #d972ff;
  --accent-color: #f9a620;
  --additional-color: #21b792;
  --text-color: #150509;
  --background-color-1: #ffffff;
  /* ზოგი სექციის ბექგრაუნდი */
  --background-color-2: #f9f6ff;
  /* ბოქსების ფერი */
  --box-color: #8447ff;
  /* ბოქსებზე ჰოვერისას */
  --box-hover-color: #6323e4;
  /* აიქონზე ჰოვერისას */
  --icon-hover-color: #dac8ff;
  /* ფოტოების ფერები */
  --photo-frame-color: #ffc619;
  /* გრადიენტის ერთი ფერი */
  --gradient-color-1: #3442d9;
  /* გრადიენტის მეორე ფერი */
  --gradient-color-2: #b947ff;

  --font-family-figaro: "Arial, sans-serif";
  --font-family-Gilroy: "Arial, sans-serif";
  /* ფონტები შესაცვლელია */
}

/* main reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Often repeated styles */
.container {
  display: flex;
  max-width: 1152px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.btn {
  width: 101px;
  height: 40px;
  margin-left: 24px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--box-color);
  font-family: var(--font-family-figaro);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  color: var(--background-color-1);
}

.btn:hover {
  background: #6323e4;
}

section .title {
  font-family: var(--font-family-figaro);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: var(--text-color);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    var(--gradient-color-2),
    var(--gradient-color-1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* slider arrows */

.arrow-btn {
  display: inline-block;
  background-size: cover;
  width: 46px;
  height: 46px;
  border: 1px solid var(--box-color);
  border-radius: 50%;
  position: relative;
  background-color: transparent;
}

.arrow-btn svg,
.nav-icons svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-btn svg {
  stroke: var(--box-color);
}

.arrow-btn:hover {
  background-color: var(--text-color);
}

.arrow-btn:active {
  background-color: var(--box-color);
}

.arrow-btn:active svg {
  stroke: var(--background-color-1);
}

.prew-btn {
  transform: rotate(180deg);
}

/* headers icons */

.nav-icons {
  display: flex;
  width: 40px;
  /* height: 40px; */
  background-color: transparent;
  border-radius: 8px;
  position: relative;
}

.nav-icons svg {
  stroke: black;
}

.nav-icons:hover {
  background-color: var(--background-color-2);
}

.nav-icons:hover svg {
  stroke: var(--primary-color);
}

/* testimonials */
h1 {
  --font-family-figaro: "Arial, sans-serif";
  font-size: 40px;
}
p {
  --font-family-figaro: "Arial, sans-serif";
  font-size: 16px;
}
.testimonial-area {
  background-color: var(--background-color-2);
}
.testimonials {
  display: flex;
  overflow: hidden;
}
.testimonial {
  flex: 1;
  text-align: left;
  width: 270px;
  height: 236px;
}
.testimonial img {
  border-radius: 50%;
  width: 74px;
  height: 74px;
}
.testimonial h3 {
  --font-family-figaro: "Arial, sans-serif";
  font-size: 20px;
}
.testimonial p {
  --font-family-figaro: "Arial, sans-serif";
  font-size: 12px;
}
.testimonial blockquote {
  --font-family-figaro: "Arial, sans-serif";
  font-size: 10px;
  margin-top: 12px;
}
